<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Портфолио web-программиста Антона Кондратова: разработка сайтов{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="apple-touch-icon" sizes="57x57" href="/markup/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/markup/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/markup/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/markup/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/markup/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/markup/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/markup/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/markup/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/markup/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/markup/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/markup/favicon/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/markup/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/markup/favicon/favicon-16x16.png" sizes="16x16">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-xWeRKjzyg6bep9D1AsHzUPEWHbWMzlRc84Z0aG+tyms= sha512-mGIRU0bcPaVjr7BceESkC37zD6sEccxE+RJyQABbbKNe83Y68+PyPM5nrE1zvbQZkSHDCJEtnAcodbhlq2/EkQ==" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">

        <link href="{{ asset('markup/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('markup/vendor/tooltipster/css/tooltipster.css') }}" rel="stylesheet">
        <link href="{{ asset('markup/css/tooltipster-my.css') }}" rel="stylesheet">
    </head>
    <body class="html front logged-in no-sidebars page-node page-node- page-node-16 node-type-page">
        {% block body %}{% endblock %}

        {% include 'HoboctaPortfolioBundle:Default:index.page.html.twig' %}

        {% block javascripts %}{% endblock %}

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="{{ asset('markup/vendor/tooltipster/js/jquery.tooltipster.min.js') }}"></script>
        <script src="{{ asset('markup/js/scripts.js') }}"></script>
    </body>
</html>
